<% content_for :title, "マイページ" %>
<div class='container mx-auto py-8 w-full max-w-xl flex-grow outline-none'>
    <%= render 'shared/page_title', title: 'マイページ' %>
    <div class="container mx-auto py-8">
        <%= render 'shared/list_title', title: '参加中のグループ' %>
        <%= render 'shared/list_item', title: '' %>
        <% current_user.groups.each do |group| %>
            <%= link_to mypage_group_path(group) do %>
                <%= render 'shared/list_item', title: group.name %>
            <% end %>
        <% end %>

        <%= link_to new_mypage_group_path do %>
            <%= render 'shared/add_action_label', text: '新しいグループを作成する' %>
        <% end %>

    </div>
</div>