<% content_for :title, @album.name %>
<div class='container mx-auto py-8 w-full max-w-xl flex-grow outline-none'>
    <%= render 'shared/page_title', title: @album.name %>

    <div class='my-8'>
        <p><%= @album.catchphrase %></p>
    </div>

    <section class='mb-8'>
        <%= render 'shared/list_title', title: '設定' %>
        <%= render 'shared/list_item', title: '' %>
        <%= link_to edit_api_v1_album_path(id: @album.group.id) do %>
            <%= render 'shared/list_item', title: '編集する' %>
        <% end %>
        <%= link_to confirm_destroy_mypage_group_album_path(group_id: @album.group.id, id: @album.id) do %>
            <%= render 'shared/list_item', title: '削除する' %>
        <% end %>
    </section>

    <div class='flex flex-wrap overflow-hidden'>
        <% @album.media_items.each do |item| %>
          <div class="w-1/4 object-cover border-2 border-black h-full bg-no-repeat bg-center" style="aspect-ratio: 1 / 1; background-image: url(<%= asset_path('loading.gif') %>);">
            <img class="w-full h-full object-cover" src="<%= rails_blob_path(item.media) %>" onload="this.parentNode.style.backgroundImage = 'none';" loading="lazy" />
        </div>
        <% end %>
    </div>

    <% breadcrumb :mypage_group_album, @album %>
</div>