<% content_for :title, @group.name %>
<div class='container mx-auto py-8 w-full max-w-xl flex-grow outline-nones'>
    <% breadcrumb :mypage_group, @group %>
    <%= render 'shared/page_title', title: @group.name %>

    <div class='my-8'>
        <%= @group.catchphrase %>
    </div>

    <section class='mb-8'>
        <%= render 'shared/list_title', title: '設定' %>
        <%= render 'shared/list_item', title: '' %>
        <%= link_to mypage_group_group_members_path(@group) do %>
            <%= render 'shared/list_item', title: 'メンバーを管理する' %>
        <% end %>
        <%# TODO: is_masterだけ表示する %>
        <%= link_to edit_mypage_group_path(@group) do %>
            <%= render 'shared/list_item', title: '編集する' %>
        <% end %>
        <%# TODO: is_masterだけ表示する %>
        <%= link_to confirm_destroy_mypage_group_path(@group) do %>
            <%= render 'shared/list_item', title: '削除する' %>
        <% end %>
    </section>

    <section class='mb-8'>
        <%= render 'shared/list_title', title: 'アルバム一覧' %>
        <%= render 'shared/list_item', title: '' %>
        <% @group.albums.each do |album| %>
            <%= link_to mypage_group_album_path(group_id: @group.id, id: album.id) do %>
                <%= render 'shared/list_item', title: album.name %>
            <% end %>
        <% end %>
        <%= link_to new_mypage_group_album_path(group_id: @group.id) do %>
            <%= render 'shared/add_action_label', text: 'アルバムを作成する' %>
        <% end %>
    </section>

</div>