<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "TODO:変更する" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <style>
      @media (min-width: 960px) {
        .custom-min-height {
          min-height: calc(-64px + 100vh);
        }
      }
      @media (max-width: 959.9px) {
        .custom-min-height {
          min-height: calc(-107px + 100vh);
        }
      }
      .breadcrumbs > a {
          color: #0095ee;
      }
    </style>
  </head>

  <body>
    <main class="container mx-auto md:my-28 px-5 custom-min-height">
      <%= yield %>
      <div class='w-full max-w-xl mx-auto'>
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
      </div>
    </main>
  </body>
</html>
