<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "ファミリーフォトアルバム" %></title>
     <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '完全無料で写真や動画をアップロード。家族の大切な瞬間をすぐに共有し、リアルタイムで繋がることができます。高速アップロードで特別な記憶を逃さずに。' %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="description" content="完全無料で写真や動画をアップロード。家族の大切な瞬間をすぐに共有し、リアルタイムで繋がることができます。高速アップロードで特別な記憶を逃さずに。">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>

    <%= favicon_link_tag 'favicon.ico' %>

    <style>
      @media (min-width: 960px) {
        .custom-min-height {
          min-height: calc(-64px + 100vh);
        }
      }
      @media (max-width: 959.9px) {
        .custom-min-height {
          min-height: calc(-107px + 100vh);
        }
      }
      .breadcrumbs {
        margin-bottom: 20px;
      }
      .breadcrumbs > a {
        color: #0095ee;
      }
    </style>
  </head>

  <body>
    <main class="container mx-auto md:my-28 px-5 custom-min-height">
      <div class='w-full max-w-xl mx-auto'>
        <% flash.each do |type, message| %>
          <div class="<%= flash_class(type) %> rounded px-4 py-3 mb-4 text-sm">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <div class='w-full max-w-xl mx-auto'>
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
      </div>
    </main>
  </body>
</html>
